<!--
This handles the holder related information
As a developer I want to create a page with functionalities for Holders 
To release their Allocated car parking slot 
So the Holder access this page to release his/her car parking slot for single (or) multiple days
The Jira Id is SNLPROJECT-2078
-->
<div class="well well-sm text-center container-fluid">
    <img src="./Content/images/epam-logo.png" class="img-responsive img-circle center-block" alt="<epam>"/>
    <div class="modal-content row" style="margin-top: -17px; height: 200px !important">
        <!-- Begin # DIV Form -->
        <div class="" id="div-forms">
            <!-- Begin # DIV Form -->
            <div class="text-info">
                <h1 class="text-capitalize">Welcome, {{userProfile.FirstName}}</h1>
            </div>
            <!-- End # DIV Form -->
            <!-- Begin # Home Form -->
            <form id="home-form" style="font-size: 16px" class="text-center" ng-submit="releaseSlot()">
                <!-- Begin # DIV Form -->
                <div class="modal-body" style="">
                    <!-- Begin # DIV Form -->
                    <div class="form-group text-center">
                        <button ng-hide="isReleased" type="submit" class="btn btn-danger btn-lg ">Release my Slot for Today</button>
                    </div>
                    <!-- End # Home Form -->
                    <!-- Begin # DIV Form for seeker message -->
                    <div class="text-danger" ng-show="isReleased">{{seekerMessage}}</div>
                    <div ng-show="isReleased">{{successMessage}}</div>
                </div>
                <!-- End # Home Form -->

            </form>
            <!-- End # Home Form -->
        </div>
        <!-- End # DIV Form -->
    </div>
    <div class="row"></div>
    <!-- Begin # DIV Form for epam sticker (parking slot) -->
    <div ng-hide="isReleased" class="text-center row">
        <div class="col-lg-5"></div>
        <div  class="col-lg-2">
            <h1 class="circle-multiline"><strong>&lt;epam&gt;
             <br />
                <br />
                Parking Slot: {{userProfile.ParkingSlotNumber}}</strong></h1>
        </div>
        <div  class="col-lg-5"></div>
    </div>
    <!-- #DIV end for parking slot sticker-->
    <!-- Begin # Home Form -->
    <br />
    <div class="row">
        <form id="profile-form" role="form" style="font-size: 16px">
            <!-- Begin # Home Form --><div class="col-lg-4"></div><!-- End # DIV Form -->
            <!-- Begin # Home Form --><div class="center-block">
                <!--table begins here-->
                <table class="table table-bordered table-hover table-responsive" style="width: 30%;">
                    <tbody>
                        <!--Row #1 for Firstname-->
                        <tr>
                            <td class="text-right"><strong>First Name</strong></td>
                            <td class="text-capitalize text-left">{{userProfile.FirstName}}</td>
                        </tr>
                        <!--Row #2 for Lastname-->
                        <tr>
                            <td class="text-right"><strong>Last Name</strong></td>
                            <td class="text-capitalize text-left">{{userProfile.LastName}}</td>
                        </tr>
                        <!--Row #3 for Mobile Number-->
                        <tr>
                            <td class="text-right"><strong>Mobile Number</strong></td>
                            <td class="text-capitalize text-left">{{userProfile.MobileNumber}}</td>
                        </tr>
                        <!--Row #4 for User Type-->
                        <tr>
                            <td class="text-right"><strong>User Type</strong></td>
                            <td class="text-capitalize text-left">{{userProfile.UserType}}</td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- End # DIV Form -->
            <!-- Begin # Home Form --><div class="col-lg-3"></div><!-- End # DIV Form -->
        </form>
    </div>
    <!-- End # DIV Form -->

</div>
<style>
    /*Styling for circle multiline*/
    .circle-multiline {
        display: table-cell;
        height: 160px;
        width: 200px;
        font-size: 20px;
        text-align: center;
        vertical-align: middle;
        border-radius: 50%;
        background: skyblue;
        color: white;
        align-self: center;
    }
</style>
