<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ECSC003002EF</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>10.6.196.236</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/SMPS.WebApi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>pavan_gautaraju@epam.com</UserName>
    <Password>Sanju@1234</Password>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SMPSEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=ECSC003002EF\SQLEXPRESS;Initial Catalog=SMPS;User ID=sa;Password=Epam@1234" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Smps.Infrastructure.SMPSEntities, Smps.Infrastructure" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <AllowUntrustedCertificate>True</AllowUntrustedCertificate>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SMPSEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/SmpsDataModel.csdl|res://*/SmpsDataModel.ssdl|res://*/SmpsDataModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=ECSC003002EF\SQLEXPRESS;Initial Catalog=SMPS;User ID=sa;Password=Epam@1234"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>